<%- include('./partials/header.ejs') -%>

<link rel="stylesheet" href="../css/unauthorized.css" />
<div class="container">
	<img src="../images/404.gif" class="img-fluid" alt="404 not found" />
	<br />
	<p style="font-size: 1.2rem" class="goback" onclick="history.go(-2)">
		<a><i class="bi bi-arrow-left-circle-fill"></i> &nbsp; Go Back</a>
	</p>
</div>

<%- include('./partials/footer.ejs') -%>
