<%- include('./partials/header.ejs') -%>

<link rel="stylesheet" href="../css/resumedetails.css" />
<div class="container">
	<div class="header">
		<h4>Aravindhan G</h4>
		<a href="mailto:aravindhandev37@gmail.com">aravindhandev37@gmail.com</a>
		<p class="mt-3">
			<a href="tel:9080800692">+(91) 9080800692</a>
		</p>
		<span class="text-muted">Tiruchirappalli</span>
	</div>
</div>
<div class="container">
	<div class="education-box">
		<h6>EDUCATION</h6>
		<div class="dropdown-divider"></div>
		<div class="education-section mt-4">
			<div class="education mt-4">
				<p class="mt-3" style="color: #6e3cbc">
					<strong>Bachelor of Computer Applications (BCA)</strong>
				</p>
				<p>Jamal Mohamed College</p>
				<p>2019 - 2022</p>
			</div>
			<div class="education mt-4">
				<p class="mt-3" style="color: #6e3cbc">
					<strong>Bachelor of Computer Applications (BCA)</strong>
				</p>
				<p>Jamal Mohamed College</p>
				<p>2019 - 2022</p>
			</div>
		</div>
		<button class="mt-3 btn btn-sm btn-light-violet educationBtn">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="16"
				height="16"
				fill="currentColor"
				class="bi bi-plus-lg"
				viewBox="0 0 16 16"
			>
				<path
					fill-rule="evenodd"
					d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"
				/>
			</svg>
			&nbsp; Add Education
		</button>
	</div>
	<div class="jobintern-box" style="margin-top: 4rem">
		<h6>JOB / INTERNSHIPS</h6>
		<div class="dropdown-divider"></div>
		<div class="job-section mt-4">
			<div class="job mt-4">
				<p style="color: #6e3cbc"><strong>Web Development</strong></p>
				<p>Cryptographic Solutions, Tiruchirappalli</p>
				<p>Oct 2021 - Present</p>
				<p>
					Cryptographic Solutions - Web Development (3 months) I've learnt how
					the work practically happens in real world. Also got idea on how to
					build web applications.
				</p>
			</div>
			<div class="job mt-4">
				<p style="color: #6e3cbc"><strong>Web Development</strong></p>
				<p>Cryptographic Solutions, Tiruchirappalli</p>
				<p>Oct 2021 - Present</p>
				<p>
					Cryptographic Solutions - Web Development (3 months) I've learnt how
					the work practically happens in real world. Also got idea on how to
					build web applications.
				</p>
			</div>
		</div>
		<button class="mt-3 btn btn-sm btn-light-violet jobBtn">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="16"
				height="16"
				fill="currentColor"
				class="bi bi-plus-lg"
				viewBox="0 0 16 16"
			>
				<path
					fill-rule="evenodd"
					d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"
				/>
			</svg>
			&nbsp; Add Job / Internships
		</button>
	</div>
	<div class="training-box" style="margin-top: 4rem">
		<h6>TRAININGS / COURSES</h6>
		<div class="dropdown-divider"></div>
		<div class="training-section mt-4">
			<div class="training mt-4">
				<p style="color: #6e3cbc"><strong>Responsive Web Design</strong></p>
				<p>FreeCodeCamp, Online</p>
				<p>Jul 2021 - Jul 2021</p>
				<p>
					I love final project section where I can apply what I learn so far
				</p>
			</div>
		</div>
		<button class="mt-3 btn btn-sm btn-light-violet trainingBtn">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="16"
				height="16"
				fill="currentColor"
				class="bi bi-plus-lg"
				viewBox="0 0 16 16"
			>
				<path
					fill-rule="evenodd"
					d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"
				/>
			</svg>
			&nbsp; Add Training / Course
		</button>
	</div>
	<div class="projects-box" style="margin-top: 4rem">
		<h6>ACADEMICS / PERSONAL PROJECTS</h6>
		<div class="dropdown-divider"></div>
		<div class="project-section mt-4">
			<div class="project mt-4">
				<p style="color: #6e3cbc"><strong>Personal Portfolio</strong></p>
				<p>Dec 2021 - Dec 2021</p>
				<p>
					<a href="https://aravindhan-devv.web.app"
						>https://aravindhan-devv.web.app</a
					>
				</p>
				<p>It's my personal portfolio that displays my details that you need</p>
			</div>
		</div>
		<button class="mt-3 btn btn-sm btn-light-violet projectBtn">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="16"
				height="16"
				fill="currentColor"
				class="bi bi-plus-lg"
				viewBox="0 0 16 16"
			>
				<path
					fill-rule="evenodd"
					d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"
				/>
			</svg>
			&nbsp; Add Academic / Personal projects
		</button>
	</div>
	<div class="skills-box" style="margin-top: 4rem">
		<h6>SKILLS</h6>
		<div class="dropdown-divider"></div>
		<div class="skill-section row mt-3">
			<div class="skills col-lg-6">
				<span style="font-weight: 600">HTML</span>
				<br />
				<span class="text-muted">Advanced</span>
			</div>
			<div class="skills col-lg-6">
				<span style="font-weight: 600">CSS</span>
				<br />
				<span class="text-muted">Intermediate</span>
			</div>
			<div class="skills">
				<span style="font-weight: 600">JAVASCRIPT</span>
				<br />
				<span class="text-muted">Beginner</span>
			</div>
		</div>
		<button class="mt-3 btn btn-sm btn-light-violet skillBtn">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="16"
				height="16"
				fill="currentColor"
				class="bi bi-plus-lg"
				viewBox="0 0 16 16"
			>
				<path
					fill-rule="evenodd"
					d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"
				/>
			</svg>
			&nbsp; Add Training / Course
		</button>
	</div>
	<div class="portfolio-box" style="margin-top: 4rem">
		<h6>PORTFOLIO / WORK SAMPLES</h6>
		<div class="dropdown-divider"></div>
		<div class="portfolio-section mt-4">
			<div class="portfolio mt-4">
				<p>Github profile</p>
				<p>
					<a href="https://aravindhan-devv.web."
						>https://aravindhan-devv.web.app</a
					>
				</p>
			</div>
		</div>
		<button class="mt-3 btn btn-sm btn-light-violet skillBtn">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="16"
				height="16"
				fill="currentColor"
				class="bi bi-plus-lg"
				viewBox="0 0 16 16"
			>
				<path
					fill-rule="evenodd"
					d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"
				/>
			</svg>
			&nbsp; Add Portfolio / Work Sample
		</button>
	</div>

	<button
		type="button"
		class="btn btn-primary"
		data-toggle="modal"
		data-dismiss="modal"
		data-target="#exampleModalCenter"
	>
		Launch demo modal
	</button>
	<div
		class="modal fade"
		id="exampleModalCenter"
		tabindex="-1"
		role="dialog"
		aria-labelledby="exampleModalCenterTitle"
		aria-hidden="true"
	>
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
					<button
						type="button"
						class="close"
						data-dismiss="modal"
						aria-label="Close"
					>
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">...</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">
						Close
					</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="../js/resumedetails.js"></script>

<%- include('./partials/footer.ejs') -%>
